/* リンクを通常色のままにする */
.markdown a,
.markdown a:visited,
.book-page a,
.book-page a:visited,
.card a,
.card a:visited {
  color: inherit !important;
}

/* リンク hover 時のアンダーラインを無効化 */
a:hover {
  text-decoration: none !important;
}
