/* 404 page */
.page-404 {
  display: flex;
  align-items: center;      /* 縦方向中央 */
  justify-content: center;  /* 横方向中央 */
  min-height: 100%;
}

.page-404__content {
  text-align: center;
}

.page-404__title {
  font-size: 2rem;          /* ← ここでサイズ調整 */
  font-weight: 400;
  letter-spacing: .5em;
}
